.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.elemento1{
    width: 30%;
}

.container h1{
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 40px;
}

.content{
    display: flex;
    justify-content:center;
    align-items: end;
    gap: 3%;
    margin-top: 40px;
}

.elemento3{
    width: 30%;
    height: 200px;
}


.content-ubicacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.info{
    display: flex;
    width: 100%;
}

.mapa{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.mapa iframe{
    width: 70%;
    height: 350px;
    border-radius: 10px;

}
.direccion{
    width: 50%;
    display: flex;
    align-items: center;
}
.direccion img{
    width: 50%;
    padding-left: 10%;
}

.content-ubicacion h1{
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 50px;
    font-size: 55px;
}

.content-ubicacion h2{
    color: #FEC568;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 0;
    font-size: 55px;
}