<div class="container">
    <img class="elemento1" src="/assets/elementos-inicio/s4-elemento1.png" alt="Icono">
    <img class="elemento2" src="/assets/elementos-inicio/s4-elemento2.png" alt="Visitanos">
    <h1>LA BASE DEL SABOR INTERGALÁCTICO</h1>
    <div class="content">
        <img class="elemento3" src="/assets/elementos-inicio/s4-elemento3.png" alt="Elemento 3">
        <img class="elemento4" src="/assets/elementos-inicio/s4-elemento4.png" alt="Elemento 4">
        <img class="elemento5" src="/assets/elementos-inicio/s4-elemento5.png" alt="Elemento 5">
    </div>
    <div class="content-ubicacion">
        <img class="elemento6" src="/assets/elementos-inicio/s4-elemento6.png" alt="Donde Estamos">
        <div class="info">
            <div class="mapa">
                <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4441.456826122861!2d-100.27785496104339!3d20.59601447413149!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d35da63afd91e7%3A0x77c8fdd84f8454e6!2sAnillo%20Vial%20III%20Ote.%20230%2C%2076246%20Qro.!5e0!3m2!1ses-419!2smx!4v1779908099596!5m2!1ses-419!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
            <div class="direccion">
                <img src="/assets/elementos-inicio/s4-elemento7.png" alt="Dirección">
            </div>
        </div>
        <h1>El antojo te trae,</h1>
        <h2>El sabor te hace volver.</h2>
    </div>
</div>