.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.elemento1{
    width: 30%;
}

.container h1{
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
    margin-top: 20px;
    font-size: 40px;
}

.content{
    display: flex;
    justify-content:center;
    align-items: end;
    gap: 3%;
    margin-top: 40px;
}

.elemento3{
    width: 30%;
    height: 200px;
}


.content-ubicacion{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}


.info{
    display: flex;
    width: 100%;
}

.mapa{
    width: 50%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.mapa iframe{
    width: 70%;
    height: 350px;
    border-radius: 10px;

}
.direccion{
    width: 50%;
    display: flex;
    align-items: center;
}
.direccion img{
    width: 50%;
    padding-left: 10%;
}

.content-ubicacion h1{
    color: white;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 50px;
    font-size: 55px;
}

.content-ubicacion h2{
    color: #FEC568;
    font-weight: 300;
    letter-spacing: 2px;
    margin-top: 0;
    font-size: 55px;
    transform: rotate(-4deg);

}

/*Animaciones*/


.hidden{
    opacity: 0;
    transition: all 1s ease;
}


.elemento1.hidden{
    transform: translateY(-100px);
}
.elemento2.hidden{
    transform: translateX(-100px);
}
.elemento3.hidden{
    transform: translateY(-100px);
}

.container > h1.hidden{
    opacity: 0;
    transform: scale(0.5);
}


.mapa.hidden{
    transform: translateX(-120px);
}

.direccion.hidden{
    transform: translateX(120px);
}


.frase1.hidden{
    transform: translateY(80px);
}

.frase2.hidden{
    transform: translateY(80px) rotate(-10deg);
}

/* Visible */

.show{
    opacity: 1 !important;
    transform: translate(0,0) rotate(0) scale(1) !important;
}

/* responsivas */

@media (max-width: 768px){

    .container{
        padding: 50px 5%;
        overflow: hidden;
    }

    .elemento1{
        width: 70%;
    }

    .elemento2{
        width: 90%;
    }

    .container h1{
        font-size: 20px;
        text-align: center;
        line-height: 1.2;
    }

    /* Sección de imágenes */
    .content{
        flex-direction: column;
        align-items: center;
        gap: 30px;
        margin-top: 30px;
    }
    .elemento3,
    .elemento4{
        width: 85%;
        height: auto;
        margin: 0;
        transform: none;
    }

    
    .elemento5{
        width: 20%;
        height: auto;
        margin: 0;
        transform: translateY(-120px) translateX(80px) rotate(10deg);
    }

    /* Ubicación */
    .content-ubicacion{
        margin-top: 10px;
    }

    .elemento6{
        width: 100%;
        margin-bottom: 25px;
    }

    .info{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .mapa{
        order: 2;
        width: 100%;
        justify-content: center;
    }

    .mapa iframe{
        width: 80%;
        height: 250px;
    }

    .direccion{
        order: 1;
        width: 95%;
        justify-content: center;
    }

    .direccion img{
        width: 80%;
        padding:5%;
    }

    .content-ubicacion h1{
        font-size: 30px;
        text-align: center;
        margin-top: 40px;
    }

    .content-ubicacion h2{
        font-size: 28px;
        text-align: center;
        line-height: 1.2;
        padding: 0 10px;
    }

}