<div class="container">
    <div class="content">
        <img class="hotdogs" src="/assets/menu/seccion4/s4-elemento5.png" alt="">
        <div class="producto">
            <div class="info">
                <h1>DARKY <span>CHURROS</span></h1>
                <p>Hechos al momento, espolvoreados con azúcar y canela. <span>Elige topping: Cajeta o lechera.</span></p>
                <h2>$50 <span>MXN</span></h2>
            </div>
            <img src="/assets/menu/seccion4/s4-elemento2.png" alt="">
        </div>
        <div class="content-producto2">
            <div class="producto2">
                <img src="/assets/menu/seccion4/s4-elemento3.png" alt="">
                <div class="info2">
                    <h1>REFRESCO</h1>
                    <h2>$25 <span>MXN</span></h2>
                </div>
            </div>
            <div class="producto2">
                <img src="/assets/menu/seccion4/s4-elemento4.png" alt="">
                <div class="info2">
                    <h1>AGUA DE <span>HORACHATA</span></h1>
                    <h2>$40 <span>MXN</span></h2>
                </div>
            </div>
        </div>
    </div>
</div>