<div class="container">
    <div class="banner">
        <div class="content1">
            <img src="/assets/franquicias/s1-elemento1.png" alt="Banner representativo de franquicias" width="1200" height="800">
        </div>
        <div class="content11">
            <img src="/assets/franquicias/s1-elemento11.png" alt="Banner representativo de franquicias en versión móvil" width="500" height="500" loading="lazy">
        </div>
        
        <div class="content2">
            <h1>
                CRECE <br>
                <span>CON <br> NOSOTROS</span>
            </h1>
            <img class="linea-decorativa" src="/assets/franquicias/s1-elemento2.png" alt="" role="presentation" width="300" height="10">
            <p>Hoy estamos en una etapa clave, y buscamos <br/>personas que quieran formar parte <span>desde el inicio.</span></p>
        </div>
    </div>
</div>