<div class="container">
    <div class="content-s1">
        <h4>CONSULTA</h4>
        <span>NUESTRO</span>
        <span>MENÚ</span>
        <a class="btn-menu" href="#">VER MENÚ COMPLETO</a>
        <a class="btn-uber" href="#">PEDIR POR UBER EATS</a>
    </div>
    <div class="content-s2">
        <img src="/assets/elementos-inicio/s2-elemento1.png" alt="foto menu">
    </div>
    <div class="content-s3">
        <h4 style="margin-left: 8%;">LOS HOT DOGS</h4>
        <h1 style="margin-left: 8%;">MAS</h1>
        <h1>BRUTALES</h1>
        <img class="elemento2" src="/assets/elementos-inicio/s2-elemento2.png" alt="de la casa">
        <img class="elemento3" src="/assets/elementos-inicio/s2-elemento3.png" alt="hot dog">
    </div>
</div>