<div class="container">
    <img class="elemento1 hidden " src="/assets/elementos-inicio/s5-elemento1.png" alt="Nave">
    <h1 class="titulo-final hidden" >¡¡ORDENA AHORA!!</h1>
    <h2  class="subtitulo-final hidden" >Calma el hambre sin salir de donde estas.</h2>
    <div class="botones hidden ">
        <button class="btn-uber">
            <img class="btn-uber" src="/assets/elementos-inicio/s5-elemento2.png" alt="Uber">
            PEDIR POR <br/>UBER EATS
        </button>
        <button class="btn-llamar">
            <i></i>
            LLAMA AHORA <br/>446-375-8196
        </button>
    </div>
</div>