<div class="container">
    <img class="elemento1 hidden " src="/assets/elementos-inicio/s5-elemento1.png" alt="Nave">
    <h1 class="titulo-final hidden" >¡¡ORDENA AHORA!!</h1>
    <h2  class="subtitulo-final hidden" >Calma el hambre sin salir de donde estas.</h2>
    <div class="botones hidden ">
        <a class="btn-uber" href="https://www.ubereats.com/store/darky-dogs-queretaro/EBZ8FD5tTGimpOBU88D8Zw" target="_blank" rel="noopener noreferrer">
            <img class="btn-uber" src="/assets/elementos-inicio/s5-elemento2.png" alt="Uber">
            PEDIR POR <br/>UBER EATS
        </a>
        <a class="btn-llamar" href="tel:+524463758196">
            <img class="btn-uber" src="/assets/elementos-inicio/s5-elemento3.png" alt="Teléfono">
            LLAMA AHORA <br/>446-375-8196
        </a>
    </div>
</div>