

<div class="container">
    <div class="lado-izquierdo show">
        <img src="/assets/elementos-inicio/s5-elemento1.png" alt="Darky Dogs">
    </div>
    <div class="lado-derecho show">
        <h1 class="titulo-final show">
            ¡¡ORDENA AHORA!!
        </h1>
        <div class="botones show">
            <button class="btn-llamar" (click)="llamarNegocio()">
                LLAMA AHORA
            </button>
            <button class="btn-uber" (click)="pedirUber()">
                PEDIR POR 
                <img src="/assets/elementos-inicio/s5-elemento2.png" alt="Uber">
            </button>
        </div>
    </div>
</div>