.container {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
        url('/assets/fondos/fondo-inicio.png');
    background-size: 100% auto;
}

.content-banner{
    display: flex;
    height: 80vh;
}

.seccion1-banner{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
    
}
.seccion1-banner img{
    left: 9%;
    top: 35%;
    width: 40%;
    position: absolute;
     animation: zoomBounce 1s ease-out;
}

.seccion2-banner{
    width: 55%;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: start;
    justify-content: center;
}
.elemento2-1{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}
.elemento2-1 span{
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;
}
.elemento3{
    width: 75%;
}
.seccion2-banner a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10%;
    background-color: #EF054A;
    border-radius: 10px;
    margin: 20px 0 0 20%;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}


.seccion2{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.desktop-banner {
    display: flex;
}

.mobile-banner {
    display: none;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}

.mobile-banner img {
    width: 85%;
    display: block;
}
.mobile-banner a{
    text-decoration: none;
    color: white;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 10%;
    background-color: #EF054A;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
}
.elemento2-1{
    animation: slideRightBounce 1.2s ease-out;
}

.elemento3{
    animation: slideRightBounce 1.2s ease-out;
}

@keyframes slideRightBounce{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    70%{
        transform: translateX(-15px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}



/* Animación del botón */
.seccion2-banner a,
.mobile-banner a{
    animation: pulse 2s infinite;
}

@keyframes pulse{
    0%,100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.05);
    }
}

/* Animación de las imágenes */
.seccion1-banner img,
.mobile-banner img{
    animation: zoomBounce 1s ease-out;
}

@keyframes zoomBounce{
    0%{
        opacity: 0;
        transform: scale(0.7);
    }
    70%{
        transform: scale(1.08);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}


@media (max-width: 768px) {
    .desktop-banner {
        display: none;
    }

    .mobile-banner {
        display: flex;
        padding-top: 10%;
    }
}