<div class="container">
    <div class="content">
        <img class="hotdogs" src="/assets/menu/seccion3/s3-elemento1.png" alt="">
        <div class="content-productos">
            <div class="producto1">
                <img src="/assets/menu/seccion3/s3-elemento2.png" alt="">
                <div class="info">
                    <h1>DARKY FRIES <span>CAMOTE</span></h1>
                    <p>Camote natural en forma de papas a la francesa con especias. <span>Se pueden prepara  con tocino o queso amarillo fundido.</span></p>
                    <h2>$75 <span>MXN</span></h2>
                </div>
            </div>
            <div class="producto1">
                <img src="/assets/menu/seccion3/s3-elemento3.png" alt="">
                <div class="info">
                    <h1>DARKY FRIES<span> TOCINO</span></h1>
                    <p>Papas naturales crujientes con especias de la casa y queso amarillo fundido.</p>
                    <h2>$75 <span>MXN</span></h2>
                </div>
            </div>
        </div>
        <div class="content-productos2">
            <div class="producto1">
                <img src="/assets/menu/seccion3/s3-elemento4.png" alt="">
                <div class="info">
                    <h1>DARKY FRIES<span> QUESO</span></h1>
                    <p>Papas naturales crujientes con especias de la casa y queso amarillo fundido.</p>
                    <h2>$65 <span>MXN</span></h2>
                </div>
            </div>
            <div class="producto1">
                <img src="/assets/menu/seccion3/s3-elemento5.png" alt="">
                <div class="info">
                    <h1>DARKY <span>FRIES</span></h1>
                    <p>Papas naturales crujientes con especias de la casa.</p>
                    <h2>$50 <span>MXN</span></h2>
                </div>
            </div>
        </div>
    </div>
</div>