<section class="extras">
    <div>
        <div class="titulo">
            <img src="assets/menu/seccion4/s4-elemento4.png" alt="Fondo Postre">
            <h2>POSTRE</h2>
        </div>
        <div class="fila">
            <img class="churro" src="assets/menu/seccion4/s4-elemento1.png" alt>
            <div>
                <h3>DARKY CHURROS</h3>
                <p>
                    Hechos al momento.
                    <span>Elige topping.</span>
                </p>
                <h4>$50 MXM</h4>
            </div>
        </div>
    </div>
    <div>
        <div class="titulo">
            <img src="assets/menu/seccion4/s4-elemento4.png" alt="Fondo Postre">
            <h2>BEBIDAS</h2>
        </div>
        <div class="bebidas">
            <div>
                <img src="assets/menu/seccion4/s4-elemento2.png" alt="Horchata">
                <h3>HORCHATA</h3>
                <span>$40</span>
            </div>
            <div>
                <img src="assets/menu/seccion4/s4-elemento3.png" alt="Refresco">
                <h3>REFRESCO</h3>
                <span>$25</span>
            </div>
        </div>
    </div>
</section>