<div class="container">
    <div class="left">
        <img class="img-postres" src="assets/menu/seccion4/s4-elemento4.png" alt="Fondo Postre">
        <div class="postre">
            <div class="churro">
                <img class="churro" src="assets/menu/seccion4/s4-elemento1.png" alt>
            </div>
            <div class="info">
                <h1>DARKY <br/><span> CHURROS</span></h1>
                <p>
                    Hechos al momento, espolvoreados con azucar y canela
                    <span>Elige topping: Cajeta o lechera</span>
                </p>
                <h2>$50 MXM</h2>
            </div>
        </div>
    </div>
    <div class="right">
        <img class="img-bebidas" src="assets/menu/seccion4/s4-elemento5.png" alt="Fondo Postre">
        <div class="bebidas">
            <div class="elemento1">
                <img src="assets/menu/seccion4/s4-elemento6.png" alt="Fondo Postre">
                <h1>AGUA DE<br> <span> HORCHATA</span></h1>
            </div>
            <div class="elemento2">
                <img src="assets/menu/seccion4/s4-elemento7.png" alt="Fondo Postre">
                <h1>REFRESCO</h1>
            </div>
        </div>
    </div>
</div>