
<div class="extras">
    <div class="extras-title">
        <img src="/assets/menu/seccion3/s3-elemento5.png" alt="Fondo Extras">

    </div>

    <div class="extras-title1">
        <img src="/assets/menu/seccion3/s3-elemento6.png" alt="Fondo Extras">
        
    </div>
    <div class="fries-grid">
        <div class="fries-card">
            <div class="fries-img">
                <span class="fries-nombre">DARKY FRIES</span>
                <span class="fries-nom">CAMOTE</span>
                <img src="/assets/menu/seccion3/s3-elemento1.png" alt="Darky Fries Camote">
                <span class="fries-precio">$75 <span class="fries-precio-ch">MXM</span></span>
            </div>
            <p class="fries-desc">Camote natural en forma de papas a la francesa con especias.</p>
        </div>

        <div class="fries-card">
            <div class="fries-img">
                 <span class="fries-nombre">DARKY FRIES</span>
                 <span class="fries-nom">TOCINO</span>
                <img src="/assets/menu/seccion3/s3-elemento2.png" alt="Darky Fries Tocino">
                <span class="fries-precio">$75 <span class="fries-precio-ch">MXM</span></span>
            </div>
            <p class="fries-desc">Papas naturales crujientes con especias de la casa y tocino ahumado.</p>
        </div>

        <div class="fries-card">
            <div class="fries-img">
                <span class="fries-nombre">DARKY FRIES</span>
            <span class="fries-nom">QUESO</span>
                <img src="/assets/menu/seccion3/s3-elemento3.png" alt="Darky Fries Queso">
                <span class="fries-precio">$65 <span class="fries-precio-ch">MXM</span></span>
            </div>
            <p class="fries-desc">Papas naturales crujientes con especias de la casa y queso amarillo fundido.</p>
        </div>

        <div class="fries-card">
            <div class="fries-img">
                <span class="fries-nombre">DARKY FRIES</span>
                <span class="fries-nom">ORIGINAL</span>
                <img src="/assets/menu/seccion3/s3-elemento4.png" alt="Darky Fries">
                <span class="fries-precio">$50 <span class="fries-precio-ch">MXM</span></span>
            </div>
            <p class="fries-desc">Papas naturales crujientes con especias de la casa.</p>
        </div>
    </div>
</div>
<div class="divider"></div>