
<div class="extras">
    <div class="extras-title hidden-extra">
        <img src="/assets/menu/seccion3/s3-elemento5.png" alt="Fondo Extras">

    </div>

    <div class="extras-title1">
        <img src="/assets/menu/seccion3/s3-elemento6.png" alt="Fondo Extras">
        
    </div>
    <div class="fries-grid">
        <div class="fries-card hidden-fries">
            <div class="fries-img">
                <p class="fries-nombre">DARKY FRIES  <br> <span>CAMOTE</span></p>
                <img src="/assets/menu/seccion3/s3-elemento1.png" alt="Darky Fries Camote">
                <span class="fries-precio">$75 <span class="fries-precio-ch">MXM</span></span>
            </div>
            <p class="fries-desc">Camote natural en forma de papas a la francesa con especias. <span>Se pueden prepara con tocino o queso amarillo.</span></p>
        </div>

        <div class="fries-card hidden-fries">
            <div class="fries-img">
                <p class="fries-nombre">DARKY FRIES  <br> <span>TOCINO</span></p>
                <img src="/assets/menu/seccion3/s3-elemento2.png" alt="Darky Fries Tocino">
                <span class="fries-precio">$75 <span class="fries-precio-ch">MXM</span></span>
            </div>
            <p class="fries-desc">Papas naturales crujientes con especias de la casa y tocino ahumado.</p>
        </div>

        <div class="fries-card hidden-fries">
            <div class="fries-img">
                <p class="fries-nombre">DARKY FRIES  <br> <span>QUESO</span></p>
                <img src="/assets/menu/seccion3/s3-elemento3.png" alt="Darky Fries Queso">
                <span class="fries-precio">$65 <span class="fries-precio-ch">MXM</span></span>
            </div>
            <p class="fries-desc">Papas naturales crujientes con especias de la casa y queso amarillo fundido.</p>
        </div>

        <div class="fries-card hidden-fries">
            <div class="fries-img">
                <p class="fries-nombre">DARKY FRIES  <br> <span>ORIGINAL</span></p>
                <img src="/assets/menu/seccion3/s3-elemento4.png" alt="Darky Fries">
                <span class="fries-precio">$50 <span class="fries-precio-ch">MXM</span></span>
            </div>
            <p class="fries-desc">Papas naturales crujientes con especias de la casa.</p>
        </div>
    </div>
</div>
<div class="divider"></div>