<div class="container">
    <div class="content">
        <div class="left">
            <h1>¿QUE ESTAMOS <br/> <span>HACIENDO?</span></h1>
            <p>Estamos desarrollando un modelo estructurado que permita escalar el negocio de forma organizada:</p>
            <div class="container-icons">
                <div class="icon">
                    <img src="/assets/franquicias/s3-icon1.png" alt="Icono 1">
                    <span>Identidad de marca sólida</span>
                </div>
                <div class="icon">
                    <img src="/assets/franquicias/s3-icon2.png" alt="Icono 2">
                    <span>Procesos estandarizados</span>
                </div>
                <div class="icon">
                    <img src="/assets/franquicias/s3-icon3.png" alt="Icono 3">
                    <span>Experiencia consistente para el cliente</span>
                </div>
                <div class="icon">
                    <img src="/assets/franquicias/s3-icon4.png" alt="Icono 4">
                    <span>Base para futuras franquicias</span>
                </div>
            </div>
        </div>
        <div class="left">
            <h1>PERFIL DEL <br/> <span>SOCIO IDEAL</span></h1>
            <p>Buscamos personas con visión de crecimiento y compromiso:</p>
            <div class="container-icons">
                <div class="icon">
                    <img src="/assets/franquicias/s3-icon5.png" alt="Icono 5">
                    <span>Interés en el sector gastronómico o empresarial</span>
                </div>
                <div class="icon">
                    <img src="/assets/franquicias/s3-icon6.png" alt="Icono 6">
                    <span>Capacidad de inversión</span>
                </div>
                <div class="icon">
                    <img src="/assets/franquicias/s3-icon7.png" alt="Icono 7">
                    <span>Mentalidad de largo plazo</span>
                </div>
                <div class="icon">
                    <img src="/assets/franquicias/s3-icon8.png" alt="Icono 8">
                    <span>Enfoque en desarrollo y expansión</span>
                </div>
            </div>
        </div>
    </div>
</div>
