<div class="productos">
    <div class="card">
        <p class="nombre">DARKY <br/><span>DOG</span></p>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento1.png" alt="Darky Dog">
            <p class="precio">$112 <span>MXM</span></p>
        </div>
        <p class="desc">Salchicha de res empanizada con pan, aderezos de la casa y pan artesanal.</p>
    </div>

    <div class="card">
        <p class="nombre">DARKY <br><span>TOCINO</span></p>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento2.png" alt="Darky Tocino">
            <p class="precio">$112 <span>MXM</span></p>
        </div>  
        <p class="desc">Salchicha de res con tocino ahumado, aderezos de la casa y pan artesanal.</p>
    </div>

    <div class="card">
        <p class="nombre">DARKY <br><span>QUESO</span></p>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento3.png" alt="Darky Queso">
            <p class="precio">$112 <span>MXM</span></p>
        </div>
        <p class="desc">Salchicha de res con queso amarillo fundido y pan artesanal.</p>
    </div>

    <div class="card">
         <p class="nombre">DARKY <br><span>CARAMELIZADO</span></p>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento4.png" alt="Darky Caramelizado">
            <p class="precio">$112 <span>MXM</span></p>
        </div>
       
        <p class="desc">Salchicha de res con cebolla caramelizada y pan artesanal.</p>
    </div>

    <div class="card">
        <p class="nombre">DARKY <br><span>TRADICIONAL</span></p>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento5.png" alt="Darky Tradicional">
            <p class="precio">$112 <span>MXM</span></p>
        </div>
        
        <p class="desc">Salchicha de res con tomate, cebolla, aderezos clásicos y pan artesanal.</p>
    </div>

    <div class="card">
        <p class="nombre">DARKY <br><span>NORTEÑO</span></p>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento6.png" alt="Darky Norteño">
            <p class="precio">$120 <span>MXM</span></p>
        </div>
        
        <p class="desc">Salchicha de res con frijoles y chorizo, aderezos de la casa y pan artesanal.</p>
    </div>
</div>
