<div class="productos">
    <div class="card">
        <span class="nombre">DARKY DOG</span>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento1.png" alt="Darky Dog">
            <span class="precio">$112 MXM</span>
        </div>
        <p class="desc">Salchicha de res empanizada con pan, aderezos de la casa y pan artesanal.</p>
    </div>

    <div class="card">
        <span class="nombre">DARKY TOCINO</span>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento2.png" alt="Darky Tocino">
            <span class="precio">$112 MXM</span>
        </div>  
        <p class="desc">Salchicha de res con tocino ahumado, aderezos de la casa y pan artesanal.</p>
    </div>

    <div class="card">
        <span class="nombre">DARKY QUESO</span>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento3.png" alt="Darky Queso">
            <span class="precio">$112 MXM</span>
        </div>
        <p class="desc">Salchicha de res con queso amarillo fundido y pan artesanal.</p>
    </div>

    <div class="card">
         <span class="nombre">DARKY CARAMELIZADO</span>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento4.png" alt="Darky Caramelizado">
            <span class="precio">$112 MXM</span>
        </div>
       
        <p class="desc">Salchicha de res con cebolla caramelizada y pan artesanal.</p>
    </div>

    <div class="card">
        <span class="nombre">DARKY TRADICIONAL</span>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento5.png" alt="Darky Tradicional">
            <span class="precio">$112 MXM</span>
        </div>
        
        <p class="desc">Salchicha de res con tomate, cebolla, aderezos clásicos y pan artesanal.</p>
    </div>

    <div class="card">
        <span class="nombre">DARKY NORTEÑO</span>
        <div class="img">
            <img src="/assets/menu/seccion2/s2-elemento6.png" alt="Darky Norteño">
            <span class="precio">$120 MXM</span>
        </div>
        
        <p class="desc">Salchicha de res con frijoles y chorizo, aderezos de la casa y pan artesanal.</p>
    </div>
</div>
<div class="divider"></div>