<div class="container">
    <div class="content">
        <img class="hotdogs" src="/assets/menu/seccion2/s2-elemento2.png" alt="">
        <div class="producto">
            <img src="/assets/menu/seccion2/s2-elemento3.png" alt="">
            <div class="info">
                <h1>DARKY <span>DOG</span></h1>
                <p>Salchicha de res empanizada con panco, aderezos de la casa y pan artesanal.</p>
                <h2>$112 <span>MXN</span></h2>
            </div>
        </div>
        <div class="content-producto2">
            <div class="producto2">
                <img src="/assets/menu/seccion2/s2-elemento4.png" alt="">
                <div class="info2">
                    <h1>DARKY <span>TOCINO</span></h1>
                    <p>Salchicha de res con tocino ahumado, aderezos de la casa y pan artesanal.</p>
                    <h2>$112 <span>MXN</span></h2>
                </div>
            </div>
            <div class="producto2">
                <img src="/assets/menu/seccion2/s2-elemento5.png" alt="">
                <div class="info2">
                    <h1>DARKY <span>QUESO</span></h1>
                    <p>Salchicha de res con queso amarillo fundido y pan artesanal.</p>
                    <h2>$112 <span>MXN</span></h2>
                </div>
            </div>
        </div>

        <div class="producto segundo">
            <div class="info">
                <h1>DARKY <span>CARAMELIZADO</span></h1>
                <p>Salchicha de res con cebolla caramelizada y pan artesanal.</p>
                <h2>$112 <span>MXN</span></h2>
            </div>
            <img src="/assets/menu/seccion2/s2-elemento6.png" alt="">
        </div>
        <div class="content-producto2">
    
            <div class="producto2" >
                <img src="/assets/menu/seccion2/s2-elemento7.png" alt="">
                <div class="info2">
                    <h1>DARKY <span>TRADICIONAL</span></h1>
                    <p>Salchicha de res con tomate, cebolla, aderezos clásicos y pan artesanal.</p>
                    <h2>$112 <span>MXN</span></h2>
                </div>
            </div>
            <div class="producto2">
                <img src="/assets/menu/seccion2/s2-elemento8.png" alt="">
                <div class="info2">
                    <h1>DARKY <span>NORTEÑO</span></h1>
                    <p>Salchicha de res con frijoles y chorizo, aderezos de la casa y pan artesanal.</p>
                    <h2>$120 <span>MXN</span></h2>
                </div>
            </div>
        </div>


    </div>
    <img class="fondo" src="/assets/menu/seccion2/s2-elemento10.png" alt="">
</div>
