.footer{
    width: 100%;
    background: black;
    position: relative;
    overflow: hidden;
    color: white;
    padding-top: 30px;
}

/* FONDO */
.footer::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url('/assets/footer/image.png');
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.footer-overlay{
    position: absolute;
    inset: 0;
    background: linear-gradient(
        to top,
        rgba(0,0,0,1),
        rgba(0,0,0,.7)
    );
    z-index: 2;
}

/* CONTENIDO */
.footer-container{
    position: relative;
    z-index: 3;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 18px;
    padding-bottom: 18px;
}

/* LOGO */
.footer-logo{
    width: 22%;
}

.footer-logo img{
    width: 120px;
    margin-bottom: 12px;
}

.social{
    width: 45px;
    height: 45px;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s;
}

.social:hover{
    background: #EF054A;
    border-color: #EF054A;
}

/* LINKS */
.footer-links{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer-links a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: .3s;
}

.footer-links a:hover{
    color: #EF054A;
}

/* INFO */
.footer-info,
.footer-contact{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.info-box{
    display: flex;
    gap: 10px;
    max-width: 320px;
}

.icon{
    color: #EF054A;
    font-size: 0.85cm;
    margin-top: 3px;
}

.info-box h3{
    font-size: 16px;
    margin-bottom: 4px;
}

.info-box p{
    color: #cfcfcf;
    line-height: 1.3;
}

/* BOTTOM */
.derechos{
    position: relative;
    z-index: 3;
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 12px 20px;
    text-align: center;
}

.derechos p{
    margin-bottom: 8px;
    color: #a7a7a7;
}

.terms{
    margin-bottom: 14px;
}

.terms a{
    color: white;
    text-decoration: none;
    transition: .3s;
}

.terms a:hover{
    color: #EF054A;
}

.diseño{
    font-size: 16px;
    font-weight: 600;
}


@media (max-width: 768px){

    .footer-container{
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }

    .footer-logo{
        width: 100%;
    }

    .footer-logo img{
        width: 140px;
    }

    .footer-links{
        align-items: center;
    }

    .footer-links a{
        font-size: 18px;
    }

    .footer-info,
    .footer-contact{
        width: 100%;
        align-items: center;
    }

    .info-box{
        max-width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
    }

    .icon{
        margin-top: 0;
        font-size: 20px;
    }

    .info-box h3{
        font-size: 15px;
    }

    .info-box p{
        font-size: 14px;
    }


    .derechos{
        padding: 20px 5%;
    }

    .derechos p{
        font-size: 12px;
        line-height: 1.5;
    }

    .terms{
        display: flex;
        justify-content: center;
        gap: 10px;
    }

    .diseño{
        font-size: 20px;
        margin-top: 15px;
    }

}